.page {
  padding-left: 15%;
  padding-right: 15%;
}

.responsive {
	text-align: center;
}

.responsivep {
align-content: center;
justify-content: center;
}

.responsiveimg {
text-align: center;
align-content: center;
justify-content: center;
width: 35%;	
padding: 1rem;
}

.textArea {
	padding-left: 15%;
	padding-right: 15%;
	text-align: justify;
}

.ulp {
  float: left;
  list-style-type:none;
  margin: 1rem;
  text-align: left;

}
.ulp2 {
  float: right;
  list-style-type:none;
  margin: 1rem;
  text-align: left;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.titlep{
text-align: center;
font-size: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;

  }

.flex > img {
  width: 50%;
}

.flex > li {
  width: 50%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;


}

 .wrapcontainer {
  text-align: center;

}

  .wrapcontainer > img {
  width: 50%;

}

 .wrapcontainer > div > div  > img {
  width: 50%;

}

.main {
  display: grid;
  place-items: center;
}

.home {
  width: 100%;
  height: 78vh;
  padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    /*background-image: url(/Services/bg.png);*/
    object-fit: cover;
    background-position: center;
  }

.box {
  
  width: 25%;
  height: 20%;
  position: relative;
}

.box2 {
  width: 35%;
  height: 20%;
  position: relative;
}

.box3 {
  width: 15%;
  height: 20%;
  position: relative;
}

.box4 {
  width: 15%;
  height: 20%;
  position: relative;
}

.box5 {
  width: 25%;
  height: 20%;
  position: relative;
}

.box6 {
  width: 20%;
  height: 20%;
  position: relative;
}

.box7 {
  width: 30%;
  height: 20%;
  position: relative;
}

.box8 {
  width: 60%;
  height: 20%;
  position: relative;
}

.box9 {
  width: 40%;
  height: 20%;
  position: relative;
}

.purple {
  background-color: purple;
  color: white;
  display: block;
  transition: .5s ease;
    backface-visibility: hidden;

}

.pink {
  background-color: var(--SERP);
  color: white;
  display: block;
  transition: .5s ease;
    backface-visibility: hidden;

}

.lightblue {
  background-color: var(--s1);
  color: white;
  display: block;
  transition: .5s ease;
    backface-visibility: hidden;

}

.yellow {
  background-color: var(--s2);
  display: block;
  transition: .5s ease;
    backface-visibility: hidden;
}

.orange {
  background-color: var(--s3);
  color: white;
  display: block;
  transition: .5s ease;
    backface-visibility: hidden;
}

.white {
  background-color: var(--s4);
  display: block;
  transition: .5s ease;
    backface-visibility: hidden;
}


.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.box:hover .blue .white .black .lightblue {
  opacity: 0.3;
}

.box:hover .middle {
  opacity: 1;
}

.box2:hover .blue .white .black .lightblue {
  opacity: 0.3;
}

.box2:hover .middle {
  opacity: 1;
}

.box3:hover .blue .white .black .lightblue {
  opacity: 0.3;
}

.box3:hover .middle {
  opacity: 1;
}

.box4:hover .blue .white .black .lightblue {
  opacity: 0.3;
}

.box4:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.icon {
  width: 10%;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 600px) {

.home {
  padding-top: 10rem;
}

  .box {
  width: 100%;
  height: 50%;
  position: relative;
}

.box2 {
  width: 100%;
  height: 50%;
  position: relative;
  top: unset;
}

.box3 {
  width: 100%;
  height: 50%;
  position: relative;
}

.box4 {
  width: 100%;
  height: 50%;
  position: relative;
}
   .middle {
  opacity: 1;

  }
}


@media only screen and (max-width: 600px) {

.page {
  padding-left: 5%;
  padding-right: 5%;
}

.responsive {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}
.responsiveimg {
align-content: center;
justify-content: center;
width: 100%;	
padding: 1rem;
}
.textArea {
	padding-left: 1%;
	padding-right: 1%;
	text-align: justify;
}
.ulp {
  float: none;
  list-style-type:none;
  margin: 1rem;
}

.ulp2 {
  float: none;
  list-style-type:none;
  margin: 0rem;
}

 .wrapcontainer > img {
  width: 100%;

}

}


