.page {
  padding-left: 15%;
  padding-right: 15%;
}

.responsive {
	text-align: center;
}

.responsivep {
align-content: center;
justify-content: center;
}

.responsiveimg {
text-align: center;
align-content: center;
justify-content: center;
width: 35%;	
padding: 1rem;
}

.textArea {
	padding-left: 20%;
	padding-right: 20%;
	text-align: justify;
}

.ulp {
  float: left;
  list-style-type:none;
  margin: 1rem;
  text-align: left;

}
.ulp2 {
  float: right;
  list-style-type:none;
  margin: 1rem;
  text-align: left;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.titlep{
text-align: center;
font-size: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;

  }

.flex > img {
  width: 50%;
}

.flex > li {
  width: 50%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;


}

 .wrapcontainer {
  text-align: center;

}

  .wrapcontainer > img {
  width: 50%;

}

 .wrapcontainer > div > div  > img {
  width: 50%;

}

@media only screen and (max-width: 600px) {

.page {
  padding-left: 5%;
  padding-right: 5%;
}

.responsive {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}
.responsiveimg {
align-content: center;
justify-content: center;
width: 100%;	
padding: 1rem;
}
.textArea {
	padding-left: 1%;
	padding-right: 1%;
	text-align: justify;
}
.ulp {
  float: none;
  list-style-type:none;
  margin: 1rem;
}

.ulp2 {
  float: none;
  list-style-type:none;
  margin: 0rem;
}

 .wrapcontainer > img {
  width: 100%;

}

}


