:root {
  --primary-color: white;
  --secondary-color: grey;
  --background: #fbfbfb;
  --nav-color: black;
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  --pink: #EFB2A0;
   --blue: #8BD5F7;
   --red: #EBA1A4;
   --yellow: #E8D2A3;
   --orange: #EFB2A0;
   --SERP: rgb(237,203,208);
   --one:#fffded;
   --two:#fcefd2;
   --three:#fffded;
   --four:#fff9d7;
   --five:#fffefa;
   --six:#fefdd5;
   --seven:#fef8d5;
   --eight:#faf6d8;
   --nine:#fffffc;
   --c1:#def8ff;
   --c2: #c9f3ff;
   --c3:#eafaff;
   --s1: #f6d0d4;
   --s2:#f8d8dc;
   --s3: #f2ccd0;
   --s4:#e8bbc1;
}

[data-theme="dark"] {
  --primary-color: grey;
  --secondary-color: black;
  --background: whitesmoke;
   --nav-color: white;
   --pink: pink;
   --blue: blue;
   --red: red;
   --yellow: yellow;
   --orange:orange;
   --SERP: #e5afb7;
   --one:#fff3e1;
   --two:#fef2de;
   --three:#fce0b5;
   --four:#ffe3b7;
   --five:#fce7c7;
   --six:#f5ebdb;
   --seven:#f8e2c0;
   --eight:#f7f2eb;
   --nine:#ffe4c8;
    --c1:#c4e9ff;
   --c2:#dbf2ff;
   --c3:#b2cedf;
    --s1: #f4d0d5;
   --s2:#f7d1d5;
   --s3: #e6b6bc;
   --s4:#f2a8b6;
}

#nprogress .bar {
  background: var(--red)!important;
  height: 4px!important;
}

hr {width: 5%;margin-left: auto;margin-right: auto;};



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--background);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

h1,h2,h3 {
  color: grey;
  text-align: center;

}

h2 {
  font-size: 1.7rem;
}


p {
  color: var(--secondary-color);
}

* {
  box-sizing: border-box;
}

button, .button {
  background: var(--primary-color);
  transition: 0.4s;
  border: 2px solid black;
  padding: 0.7rem;
  color: black;
}

.Container {
  padding: 1rem;
}

/* header */

.header {
  color: var(--secondary-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

/*.header:hover {
  background-color: rgba(255,255,255,0.5);
}*/

footer {
  background-color: rgba(255,255,255,0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 3;
  padding-left: 1rem;
}

footer > p,i {
color: var(--secondary-color);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  
}

.header li a {
  display: block;
  padding: 20px 20px;
  font-size: 0.8rem;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--secondary-color);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--secondary-color);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


.container {
  position: relative;
  width: 100%;
}

.resp-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}


.audit {
  padding: 1rem;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.audit > form > input,button {
  padding: 1rem;
  text-decoration: none;
}

.audit >  h2 {
  font-size: 1.3rem;
  line-height: 1.5rem;
  text-align: center;
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 25px;
  bottom: 10px;

}

.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  color: var(--secondary-color);
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 1rem;
  margin-right: 5px;
  color:  var(--secondary-color);
}

/* Loader */

@keyframes ldio-c9p079igqka {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-c9p079igqka div {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid white;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-c9p079igqka div {
  animation: ldio-c9p079igqka 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-kswyn6f3gj7 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.ldio-c9p079igqka {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-c9p079igqka div {
  box-sizing: content-box;
}

//Nav

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



.container {
  width: 100%;
  
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 400% 400%;
  position: relative;
  z-index: 100;
}

.nav-bar {
  position: absolute;
  background-color: var(--primary-color);
  top: 0;
  right: 100%;
  height: 100vh;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
  display: none;
}

.toggle {
  left: 0;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);

}

.toggle-menu {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    padding: 2px 2px 2px 3px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
  background-color: white;
}

.nav-list {
  list-style: none;
}

.nav-list-item {
  text-align: center;
  padding: 10px 0;
}

.nav-link {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
}

.nav-link::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  transform-origin: left;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.resp-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}



.container-work {
  position: relative;
  width: 80%;
}

.button-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  
}

.button-wrapper {
  flex: 2;
  padding: 10px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.arrow {
  display: none;
}

.gallery {
  display: flex;
  
}

.gallery-cont {
  flex: 1;
  width: 50%!important;
}

.page {
  padding: 1rem;
}

.Services {
  width: 100%;
  height: 10%;
  display: block;
  padding: 0;
  margin: 0;
}

.contactus {
  padding-left: 5%;
  padding-right: 5%; 

}

.text-wrapper {
  display: flex; flex-wrap: nowrap; justify-content: space-between; font-size: 20px; text-align: left;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.wrap-container {
  width: 100%;
  text-align: justify;

}

@media only screen and (max-width: 600px) {
.nav-bar {
  display: block;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  background-color: var(--primary-color)
}

.container {
  position: relative;
  width: 100%;
}

.resp-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.arrow {
  position: absolute;
  top:83%;
  left:50%;
  transform: translate(-50%,-50%);
}

.arrow >.fas.fa-angle-down {
  position:relative;
  color: white;
  font-size: 3rem;
  text-align:center;
  animation: zoom 1.5s infinite;
}
@keyframes zoom {
  from {top: 0; color:white}
  to {top: 50px; color: #F5F5DC;}
}

footer {
  display: none;
}

}

.fas.fab {
  font-size: 1rem;

}

.icons {
position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: 5px;
  font-size: 2rem;
}